.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  box-shadow: $box-shadow;
  padding: 1rem;
  border-radius: $border-radius;
  transition: 0.1s;
  background-color: $primary;
  color: #fff;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: $box-shadow-hover;
    background-color: lighten($primary, 5);
  }

  &:active {
    transform: translateY(0rem);
    box-shadow: none;
    background-color: $primary-dark;
  }
}