.color-schemes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.color-scheme {
  width: 7.5rem;

  &__colors {
    margin: 0 auto 0.5rem;
    width: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
