html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c2c54;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  background: #ffffff;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}